.register-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top left, rgb(43, 27, 75), #e6a364);
    min-width: 600px;
  }
  
.register-wrapper {
    position: absolute;
    left: 50%;
    transform: translate( -50%);
    background-color: #333333;
    padding-top: 90px;
    text-align: center;
    height:600px;
    width: 40%;
    margin-top:100px;
    min-width: 120px;
}

.register-heading{
    color: white;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-left:25%;
    margin-right:25%;
    border-radius:10px;
    background-color:#f8f8f8;
    padding:30px;
    min-width: 120px;
  }
  
  .register-form label {
    margin: 10px 0;
    font-weight: bold;
  }
  
  .register-form input {
    width: 100%; 
    max-width: 300px; 
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .register-form button {
    background-color: rgb(222, 222, 222);
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
    color: black;
    border-radius: 4px;
  }
  
  .register-form button:hover {
    background-color: #e6a364;
  }
  
  